{% extends "base.html" %}

{% block main %}
<div class="create">
    <h1>New Property</h1>
    <hr>
    <div class="form_container">
        <p>Fill in this fform to contact the site owners</p>
        <form action="{{ url_for('create') }}" method="post" enctype="multipart/form-data">
            {{ form.csrf_token }}
            <div class="form-floating">
              {{ form.title(placeholder="Title") }}
              {{ form.title.label }}
            </div>
            <div class="form-floating">
              {{ form.bedrooms(placeholder="Bedrooms") }}
              {{ form.bedrooms.label }}
            </div>
            <div class="form-floating">
              {{form.bathrooms(placeholder="Bathrooms")}}
              {{ form.bathrooms.label }}
            </div>
            <div class="form-floating">
              {{ form.location(placeholder="Location") }}
              {{ form.location.label }}
            </div>
            <div class="form-floating">
              {{ form.price(placeholder="Price") }}
              {{ form.price.label }}
            </div>
            <div class="form-floating">
              {{ form.type(placeholder="Type") }}
              {{ form.type.label }}
            </div>
            <div class="form-floating">
              {{ form.description(placeholder="description") }}
              {{ form.description.label }}
            </div>
            <div class="form-floating">
              {{ form.photo }}
              {{ form.photo.label }}
            </div>
            <div class="form-group">
              {{ form.submit }}
            </div>
          </form>
    </div>
</div>
{% endblock %}