{% extends "base.html" %}

{% block main %}
<div class="create">
    <h1>New Property</h1>
    <hr>
    <div class="form_container">
        <form action="{{ url_for('create') }}" method="post" enctype="multipart/form-data">
            {{ form.csrf_token }}

            {{ form.title.label }}
            <div class="form-floating">
              {{ form.title(placeholder="Title") }}
            </div>

            {{ form.bedrooms.label }}
            <div class="form-floating">
              {{ form.bedrooms(placeholder="Bedrooms") }}
            </div>

            {{ form.bathrooms.label }}
            <div class="form-floating">
              {{ form.bathrooms(placeholder="Bathrooms") }}
            </div>

            {{ form.location.label }}
            <div class="form-floating">
              {{ form.location(placeholder="Location") }} 
            </div>
            
            {{ form.price.label }}
            <div class="form-floating">
              {{ form.price(placeholder="Price") }}
            </div>

            {{ form.type.label }}
            <div class="form-floating">
              {{ form.type(placeholder="Type") }}  
            </div>

            {{ form.description.label }}
            <div class="form-floating">
              {{ form.description(placeholder="description") }}
            </div>

            {{ form.photo.label }}
            <div class="form-floating">
              {{ form.photo }}
            </div>
              {{ form.submit }}
          </form>
    </div>
</div>
{% endblock %}